{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "62ede710-7969-4f30-9a6d-1744698bad2b",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}